;; Obazl tool configuration map
{
 :workspace "zexe"
 :exclusions #{
               ;; list of dune files to NOT convert automatically
               "snarky-bn382/dune"  ;; hand-optimized
               "snarky-bn382/bindings_gen/dune"  ;; hand-optimized
               }
 :ns-sep "__"
 :ppx {:shared-pkg "//bzl/ppx/exe"}
 :profiles {
            :all {:flags [:standard "-short-paths" "-cclib" "-ljemalloc"
                          "-w" "e@a-4-29-40-41-42-44-45-48-58-59-60"]
                  :src "src/dune.flags.inc"}
            ;; src/dune.flags.inc contents:
            ;; (env
            ;;  (_
            ;;   (flags (:standard -short-paths -cclib -ljemalloc -w @a-4-29-40-41-42-44-45-48-58-59-60))))
            ;; "The default value for (flags ...) is taken from the environment,..."
       }
 }
